{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="page-header">
  <h1>Upload Spectrum</h1>
</div>

{% if form.non_field_errors %}
<div class="alert alert-danger">
  {{ form.non_field_errors }}
</div>
{% endif %}

<form enctype="multipart/form-data" action="{% url 'spectra:upload' %}"
  role="form" method="post">
  {% csrf_token %}
  {% if form.fits.errors %}
  <div class="form-group has-error">
  {% else %}
  <div class="form-group">
  {% endif %}
    <label class="control-label" for="id_fits">Fits file</label>
    {{ form.fits }}
    {% if form.fits.errors %}
      <div class="help-block">
        {{ form.fits.errors }}
      </div>
    {% endif %}
  </div>
  <input type="submit" value="Upload" class="btn btn-default">
</form>

{% endblock %}
