{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDAS</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">&elipsis;</button>
            <a class="navbar-brand" href="/">IDAS</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'spectra:index' %}">Spectra</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'spectra:upload' %}"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
              {% endif %}
              {% if perms.auth.staff %}
              <li><a href="/admin">Admin</a></li>
              {% endif %}
            </ul>
            {% if not user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login/"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>

      {% block content %}
      Content
      {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
